<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <!-- playerHealth 체력바는 체력 값에 따라 움직이도록 style를 적용한다.-->
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: playerHealth + '%'}">
                    <!--Player 체력값 입력-->
                    {{ playerHealth }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <!-- monsterHealth 체력바는 체력 값에 따라 움직이도록 style를 적용한다.-->
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: monsterHealth + '%'}">
                    <!--Monster 체력값 입력-->
                    {{ monsterHealth }}
                </div>
            </div>
        </div>
    </section>
    <!--게임이 시작되지 않았다면 해당 section 보이기 -->
    <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
            <!-- 이벤트 연결 -->
            <button id="start-game" @click="startGame">START NEW GAME</button>
        </div>
    </section>
    <!--게임이 시작되었다면 해당 section 보이기 -->
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <!-- 이벤트 연결 -->
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>

    <!-- 이력이 한건 이상일 경우에 해당 section 보이기 -->
    <section class="row log" v-if="turns.length>0">
        <div class="small-12 columns">
            <ul>
                <!--v-for 사용하여 turn.text를 출력한다. 
                    monster , player 대상에 따라
 					class 'player-turn'와 'monster-turn'을 이용하여 style를 적용한다. -->
                <li v-for="turn in turns" :class="{'player-turn' : turn.isPlayer , 'monster-turn' : !turn.isPlayer}">
                    <!-- 이력 문구 출력 -->
                    {{ turn.text }}
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>